# Getting Started

In this exercise, you'll get familiar with the following basics of python:

- Creating variables (lists, dictionaries)
- Writing functions
- List comprehensions

# Student Info

- Name: Zoshua Colah
- Age: 23
- Occupation: Teacher

*this is mock data*

**this is bold data**

***this is bold and italics data***

# Basic variables
Variables in python are loosely typed, so you can quickly create numeric, character, or boolean values. Variable names should be expressive, and be written as lower-case words that are underscore separated (i.e., `variable_name`)

In [7]:
# My Name
my_name = "Zoshua Colah"
my_name

'Zoshua Colah'

In [8]:
# My Age
my_age = 23
my_age

23

In [9]:
# Mother's Age
mother_age = 63
mother_age

63

In [10]:
# Father's Age
father_age = 65
father_age

65

In [33]:
print("My age:", my_age)
print("My mother's age:", mother_age)
print("My father's age:", father_age)

My age: 23
My mother's age: 63
My father's age: 65

In [36]:
# Is mother elder than father
is_mom_elder_to_father = mother_age > father_age
is_mom_elder_to_father

False

In [12]:
# Family's Average Age
family_average_age = (my_age + mother_age + father_age)/3
family_average_age

50.333333333333336

In [18]:
#Starting Phrase
starting_phrase = "My family's average age is "
starting_phrase

"My family's average age is "

In [19]:
#Sentence
sentence = starting_phrase + str(family_average_age)
sentence

"My family's average age is 50.333333333333336"

# Mini-Challenge Exercise: Create a variable that calculates how many seconds are in a week. Once you create this variable write a print statement that looks

In [25]:
#1 minute has 60 seconds
#1 hour has 60 minutes
#1 day has 24 hours
#1 week has 7 days

seconds_in_a_week = 60*60*24*7
seconds_in_a_week

604800

In [35]:
#Seconds in a Week Statement
seconds_week_statement="In a week there are " + str((60*60*24*7)) + " seconds"
seconds_week_statement

'In a week there are 604800 seconds'

In [36]:
# Create a numeric variable `hours_in_a_year` equal to the number of hours in a year

# A normal year has 365 days and one day has 24 hours
days_in_a_year = 365
hours_in_a_day = 24
hours_in_a_year = str((days_in_a_year*hours_in_a_day)) + " hours"
hours_in_a_year

'8760 hours'

In [2]:
# Create a numeric variable `seconds_in_a_day` equal to the number of seconds in a day

# One day has 24 hours 
# One hour has 60 minutes 
# One minute has 60 seconds
seconds_in_a_day = str((24 * 60 * 60)) + " seconds"
seconds_in_a_day

'86400 seconds'

In [3]:
# Create a boolean variable `more_seconds_than_hours` that is true 
# if there are more seconds in a day than hours in a year
more_seconds_than_hours = seconds_in_a_day > hours_in_a_year 
more_seconds_than_hours

False

In [4]:
# Print out all 3 of your variables
print(hours_in_a_year)
print(seconds_in_a_day)
print(more_seconds_than_hours)

8760 hours
86400 seconds
False

In [5]:
# Create and print a character variable `learned` that holds the string:
# "I just learned that there are X hours in a year, and Y seconds in a day"
# Replace X and Y with the values from above

learned = "I just learned that there are " +  hours_in_a_year + "hours in a year, and " + seconds_in_a_day + " seconds in a day"
print(learned)

I just learned that there are 8760 hourshours in a year, and 86400 seconds seconds in a day

# Lists and Dictionaries

## Lists
A **list** is a mutable, ordered sequence of values that are all stored in a single variable. You can create a list of elements by placing comma separated values inside of square brackets. Note, elements may be of different types.

In [30]:
#Creating a List of 5 Friends
friends_at_isme = ["Mehul", "Vanshika", "Shourya", "Arav", "Vivaan"]
friends_at_isme

['Mehul', 'Vanshika', 'Shourya', 'Arav', 'Vivaan']

In [31]:
#Accessing the value at Index 2 in the list of friends
friends_at_isme[2]

'Shourya'

In [32]:
#Adding a value to the list of friends
friends_at_isme.append("Aayushi")
friends_at_isme

['Mehul', 'Vanshika', 'Shourya', 'Arav', 'Vivaan', 'Aayushi']

In [33]:
friends_at_isme.clear()
friends_at_isme

[]

In [34]:
# Create a list `friends` that has a list of 3 of your friends' names in it
friends = ["Utsav", "Varun", "Zubair"]
friends

['Utsav', 'Varun', 'Zubair']

In [35]:
# Create a list `family` that has a list of 3 of your family members' names in it
family = ["Kashmira", "Marbin", "Zahid"]
family

['Kashmira', 'Marbin', 'Zahid']

In [36]:
# Use the `append` list method to add another family member to your `family` list
family.append("Zoshua")
family

['Kashmira', 'Marbin', 'Zahid', 'Zoshua']

In [9]:
# Create and print a list `people` that contains your lists `friends` and `family`

people = family + friends
people

['Kashmira', 'Marbin', 'Zahid', 'Zoshua', 'Utsav', 'Varun', 'Zubair']

## Dictionaries
A **dictionary** is an object stores a _key-value pair_ in python. You can create a dictionary by passing _colon separated_ pairs inside of curly braces (i.e., `dict = {'key':value}`)

In [43]:
zoshua_dictionary = {"Name": "Zoshua Colah", 
                     "Favorite Food": "Blue Lays", 
                     "Favorite Drink": "Lemon Barley Water", 
                     "College": "University of Washington"}
zoshua_dictionary

{'Name': 'Zoshua Colah',
 'Favorite Food': 'Blue Lays',
 'Favorite Drink': 'Lemon Barley Water',
 'College': 'University of Washington'}

In [45]:
zoshua_dictionary["Favorite Food"]

'Blue Lays'

In [65]:
#Dictionary called Virat Kohli with his age and his current team
virat_kohli = {"Age": 33, 
                "Team": "Royal Challengers Bangalore"}
# Printed Virat Kohli
virat_kohli

{'Age': 33, 'Team': 'Royal Challengers Bangalore'}

In [66]:
# Added a new Key called scores and the value of the key was a list of his scores
virat_kohli["Scores"] = [45, 32, 23]

#Printed Virat Kohli
virat_kohli

{'Age': 33, 'Team': 'Royal Challengers Bangalore', 'Scores': [45, 32, 23]}

In [67]:
# Replace the Second Index value in the Scores list with the value 10
virat_kohli["Scores"][2]=10
virat_kohli

{'Age': 33, 'Team': 'Royal Challengers Bangalore', 'Scores': [45, 32, 10]}

In [62]:
#How can I add a score of 10 runs to the list in the virat_kohli dictionary
virat_kohli["Scores"].append(10)
virat_kohli

{'Age': 33, 'Team': 'Royal Challengers Bangalore', 'Scores': [45, 32, 23, 10]}

In [72]:
# Total Keys in Virat Kohli
num_keys_virat_kohli = len(virat_kohli)
num_keys_virat_kohli

3

In [68]:
# Create a dictionary `people_dict` that has a key for `family` and a key for `friends` (using values above)

people_dict = {"family":family, "friends":friends}
print(people_dict)

{'family': ['Kashmira', 'Marbin', 'Zahid', 'Zoshua'], 'friends': ['Utsav', 'Varun', 'Zubair']}

In [69]:
# Add a new key `coworkers` to your `people_dict` object (it should contain 3 names of coworkers) 
people_dict["coworkers"] = ["zubair", "ansul", "yiran"]
people_dict

{'family': ['Kashmira', 'Marbin', 'Zahid', 'Zoshua'],
 'friends': ['Utsav', 'Varun', 'Zubair'],
 'coworkers': ['zubair', 'ansul', 'yiran']}

In [70]:
# Print your people_dict object
print(people_dict)

{'family': ['Kashmira', 'Marbin', 'Zahid', 'Zoshua'], 'friends': ['Utsav', 'Varun', 'Zubair'], 'coworkers': ['zubair', 'ansul', 'yiran']}

In [13]:
# Create and print a variable `num_people_categories` that conatins the *number of keys* of your `people_dict` 
num_people_categories = len(people_dict)
num_people_categories

3

# Functions
Functions are a series of executable steps stored in a variable. They can be created with the `def` keyword.

In [81]:
# Addition
def add_two_numbers(number1, number2):
    print("Number 1 is ", number1)
    print("Number 2 is ", number2)
    total=number1+number2
    return total

In [76]:
add_two_numbers(3,4)

Number 1 is  3
Number 2 is  4

7

# Create a Function Called Average that accepts 2 numbers and returns their average

Bonus Challenge: 
- Do not create a third variable
- Should return a string which says "The Average is 4.0"

In [77]:
# Average of 2 Numbers
def average_two_numbers (number1, number2):
    print("Number 1 is ", number1)
    print("Number 2 is ", number2)
    average_two_numbers = (number1+number2)/2
    return average_two_numbers

In [82]:
# Average of 2 Numbers Shorter
def average_two_numbers_short (number1, number2):
    print("Number 1 is ", number1)
    print("Number 2 is ", number2)
    return "The Average is " + str(((number1+number2)/2))

In [83]:
average_two_numbers_short(2,4)

Number 1 is  2
Number 2 is  4

'The Average is 3.0'

In [90]:
# Write a function `make_awesome` that adds the string " is awesome!" to the end of any parameter it is passed
# Include a proper doc string that describes what the function returns


# returns the words " is awesome" after the string (text_input) passed through parameters
def make_awesome(text_input): 
    return text_input + " is awesome!"

In [86]:
# Pass "Data Science" to your function
make_awesome("data science")

'data science is awesome!'

In [87]:
# Write a function `is_it_awesome` that returns a boolean (true/false) if a string has the word "awesome" in it
# Include a proper doc string that describes what the function returns

# returns a boolean if the string passed through parameters contains "awesome"
def is_it_awesome(text_input): 
    return "awesome" in text_input

In [95]:
def test_awesome (text_input):
    return "Awesome" in text_input

In [96]:
test_awesome("Arav is Awesome")

True

In [89]:
# Pass a phrase of your choice to the `is_it_awesome` function
is_it_awesome("mike is awesome")

True

In [18]:
# Write a more general function `phrase_has_string` that takes in a `phrase` and a `string` and returns
# A boolean indicating if the phrase contains the string. It should not be case sensitive.
# Include a proper doc string that describes what the function returns

# returns a boolean if the text contains the phrase passed through the parameters
def phrase_has_string(phrase, text_input): 
    return phrase in text_input

In [19]:
# Test out your function
phrase_has_string("car", "I want a car ...amongst other things")

True

In [23]:
# Define a function `count_relationships` that takes in a dictionary of relationships (such as `people_dict`)
# And returns a dictionary of the number of relationships of each type (i.e. {"friends":4, "family":3})
# Hint: use a loop
# Include a proper doc string that describes what the function returns


# returns the number of values in a list for each key in the dictionary passed through the parameters
def count_relationships(relationships):
    for k in relationships:
        relationships[k] = len(relationships[k])
    return (relationships)

In [29]:
# Pass `people_dict` to `count_relationships`
count_relationships(people_dict)

{'coworkers': 3, 'family': 4, 'friends': 3}

In [26]:
# Define a function `total_relationships` take in a dictionary of relationships (such as `people_dict`)
# And returns the total number of relationships
# Hint: use a *list comprehension* and your `count_relationships` function (separately)
# Include a proper doc string that describes what the function returns

# returns the total number of relationships in the dictionary passed to it through the pararmeters
def total_relationships(relationships):
    d_new = count_relationships(relationships)
    total = 0
    for k in d_new:
        total = total + d_new[k]
    return total

In [32]:
test = {'family': ['Kashmira', 'Marbin', 'Zahid', 'Zoshua'],
 'friends': ['Utsav', 'Varun', 'Zubair'],
 'coworkers': ['zubair', 'ansul', 'yiran']}

In [33]:
# Use the `total_relationships` function to count the number of people in `people_dict`

# total_rel = total_relationships(people_dict)
# for some reason my people_dict variable gets messed up after it runs in the count_relationships

# I have used test due to the error I get when I try to use the people_dict variable
total_rel = total_relationships(test)
total_rel

10